* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ul-reset {
    list-style: none;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none !important;
}

html {
    font: {
        family: 'Roboto', sans-serif;
    }

    body {
        background-color: #F5F5F5;
        background-image: url(../image/bg/12459189_job516-namcha-07.jpg);
    }
}