header {
    background-color: #ec3323;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: rgba(252, 231, 231, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

:root {
    --base-color: #ec3323;
}

.header-pc {
    .top-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;

        .logo-header {
            min-width: 12%;

            img {
                height: 30px;
            }
        }

        .bar-mobile {
            i {
                cursor: pointer;
            }
        }

        .menu-header {

            .ul-reset {
                display: flex;

                li {
                    margin-right: 0 10px;
                    padding: 0 5px;
                }

                a {
                    color: #fff;
                    padding: 5px;
                    font-weight: 500;
                    position: relative;

                    &:hover {
                        color: aqua;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        width: 100%;
                        height: 2px;
                        background-color: aqua;
                        transform-origin: center;
                        transform: translate(-50%, 0) scaleX(0);
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover::before {
                        transform: translate(-50%, 0) scaleX(1);
                    }
                }
            }
        }



        .user-header {
            display: flex;
            justify-content: end;

            .user-action {
                .user {
                    color: #fff;
                    background-color: #f5b442;
                    border-radius: 5px;
                    margin-right: 20px;
                    transition: 0.3s;
                    cursor: pointer;

                    i {
                        padding: 6px 8px;
                    }
                }

                .user:hover {
                    box-shadow: rgba(255, 254, 254) 0px 5px 15px;
                    background-color: aqua;
                    transition: 0.3s;
                }
            }

            .cart-action {
                .cart {
                    position: relative;

                    a {
                        color: #fff;

                        i {
                            background-color: #f5b442;
                            padding: 6px;
                            border-radius: 3px;
                            transition: 0.3s;

                            &:hover {
                                box-shadow: rgba(255, 254, 254) 0px 5px 15px;
                                background-color: aqua;
                                transition: 0.3s;
                            }
                        }

                    }

                    span {
                        position: absolute;
                        background-color: #8883f1;
                        border-radius: 50%;
                        top: -12px;
                        right: -12px;
                        font-size: 12px;
                    }

                }
            }
        }
    }

    .search-header {
        flex: 1;
        margin: 0 20px;

        button {
            background-color: #f5b442;
            color: #fff;
        }
    }
}

.menu-mobile {
    background-color: #fff;
    width: 0;
    height: 100vh;
    position: fixed;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    text-wrap: nowrap;
    z-index: 99;

    @media screen and (min-width:993px) {
        display: none;
    }

    .logo {
        position: relative;
        text-align: center;
        padding: 20px 10px;

        .closeNav {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        // img{
        //     height: 50px;
        // }
        .closeNav {
            cursor: pointer;
        }
    }

    .menu {
        padding: 20px 0;

        .cha {
            .item-cha {
                border-bottom: 1px solid #ec3323;

                a {
                    color: #ec3323;
                    text-transform: uppercase;
                    font-weight: 500;
                    display: block;
                    padding: 10px 20px;
                    position: relative;

                    &:hover {
                        background-color: #f18933;
                        color: #fff;
                    }

                    span {
                        position: absolute;
                        right: 10px;
                    }
                }


                .con {
                    .item-con {
                        border-top: 1px solid #fff;

                        a {
                            padding: 10px 45px;
                            text-transform: none;
                            background-color: rgba(0, 0, 0, .3);
                            color: #fff;

                            &:hover {
                                background-color: #f18933;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}


.banner-content {
    position: relative;

    .content-slide-home {
        .item-banner {
            img {
                width: 100%;
                aspect-ratio: 2.5;
                object-fit: cover;
            }
        }
    }
}

.overlay {
    position: fixed;
    width: 0;
    top: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    z-index: 99;
    transition: all .4s;

    @media screen and (min-width: 993px) {
        display: none;
    }
}

.btn-wrap {
    span {
        position: absolute;
        background-color: #f5b442;
        border-radius: 50%;
        padding: 10px 16px;
        color: #fff;
        z-index: 5;
        top: 45%;
        cursor: pointer;

        &:first-child {
            left: 0;
        }

        &:last-child {
            right: 0;
        }
    }
}

.big-sale {
    // background-color: #fff;
    // padding: 10px;
    position: relative;

    .head {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        align-items: center;
        padding: 0 10px;

        .title {
            color: #8883f1;
            text-transform: uppercase;
            padding: 4px;

            font: {
                weight: 500;
                size: 30px;
            }
        }

        .next {
            a {
                color: #8883f1;

                &:hover {
                    color: var(--base-color);
                }
            }
        }
    }

    .list-sale {
        padding: 14px 8px;

        /* the slides */
        .slick-slide {
            margin: 0 8px;
        }

        /* the parent */
        .slick-list {
            margin: 0 -8px;
        }

        .item {
            position: relative;
            background-color: #f5b442;
            border-radius: 5px;
            .img {
                border: 5px solid #8883f1;
                overflow: hidden;

                a {
                    img {
                        width: 100%;
                        object-fit: cover;
                        aspect-ratio: 1;
                        transition: 0.7s;

                        &:hover {
                            transform: scale(1.1);
                            transition: 0.7s;
                        }
                    }
                }

                .discount {
                    position: absolute;
                    top: 4px;
                    right: 7px;
                    color: #fff;
                    background-color: var(--base-color);
                    padding: 8px 4px;
                    font-size: 11px;
                    font-weight: 600;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 85%, 50% 85%, 0 100%);
                }
            }

            .body {
                padding: 4px 10px;

                .name {
                    color: black;
                    font-weight: 400;
                    height: 42px;
                    font-size: 14px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    margin: 8px 0;

                    &:hover {
                        color: #8883f1;
                        font-weight: 500;
                    }
                }

                .price {
                    color: #ec3323;
                    font-weight: 500;
                }
            }
        }
    }

    .btn-big-sale {
        span {
            position: absolute;
            background-color: #f5b442;
            border-radius: 50%;
            padding: 2px 8px;
            color: #fff;
            z-index: 5;
            top: 45%;
            cursor: pointer;

            &:first-child {
                left: 13px;
            }

            &:last-child {
                right: 13px;
            }
        }
    }
}

.box-shopping {
    .title {
        margin: 20px auto;
        text-align: center;
        color: #f18833;
        text-transform: uppercase;

        font: {
            size: 30px;
            weight: bold;
        }
    }

    .product {
        .item {
            background-color: #f5b442;
            border-radius: 5px;
            .img {
                overflow: hidden;

                a {
                    img {
                        width: 100%;
                        aspect-ratio: 1;
                        transition: 0.6s;
                        // object-fit: cover;

                        &:hover {
                            transform: scale(1.1);
                            transition: 0.6s;
                        }
                    }
                }
            }

            .body {
                padding: 10px;

                .name {
                    color: black;
                    font-weight: 400;
                    height: 42px;
                    font-size: 14px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    margin: 0 0 8px 0;

                    &:hover {
                        color: #8883f1;
                        font-weight: 500;
                    }
                }

                .price {
                    color: var(--base-color);
                    font-weight: 500;
                }
            }
        }
    }

    .btn-next {
        display: flex;
        justify-content: center;
        margin: 30px 0;

        span {
            color: #fff;
            cursor: pointer;
            border: 2px solid #8883f1;
            border-radius: 5px;
            padding: 8px 40px;
            font-size: 20px;
            transition: 0.2s;

            &:hover {
                background-color: #8883f1;
                transition: 0.2s;
            }
        }
    }
}

footer {
    background-image: url(../image/bg/22388055_SL-101321-46120-31\ [Converted].png);

    .footer-pc {
        padding: 30px 0;

        .box {
            .logo {
                img {
                    height: 40px;
                }
            }

            .body {
                .title {
                    text-transform: uppercase;
                    margin: 10px 0;

                    font: {
                        size: 14px;
                        weight: bold;
                    }
                }

                .list {
                    li {
                        font-size: 13px;
                        margin-bottom: 3px;

                        i {
                            color: #8883f1;
                        }

                        a {
                            color: black;

                            &:hover {
                                color: #8883f1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.copy {
    text-align: center;
    padding: 10px 0;
}