header {
  background-color: #ec3323;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: rgba(252, 231, 231, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header-pc .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.header-pc .top-header .logo-header {
  min-width: 12%;
}
.header-pc .top-header .logo-header img {
  height: 30px;
}
.header-pc .top-header .bar-mobile i {
  cursor: pointer;
}
.header-pc .top-header .menu-header .ul-reset {
  display: flex;
}
.header-pc .top-header .menu-header .ul-reset li {
  margin-right: 0 10px;
  padding: 0 5px;
}
.header-pc .top-header .menu-header .ul-reset a {
  color: #fff;
  padding: 5px;
  font-weight: 500;
  position: relative;
}
.header-pc .top-header .menu-header .ul-reset a:hover {
  color: aqua;
}
.header-pc .top-header .menu-header .ul-reset a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: aqua;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.header-pc .top-header .menu-header .ul-reset a:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}
.header-pc .top-header .user-header {
  display: flex;
  justify-content: end;
}
.header-pc .top-header .user-header .user-action .user {
  color: #fff;
  background-color: #f18833;
  border-radius: 5px;
  margin-right: 20px;
  transition: 0.3s;
  cursor: pointer;
}
.header-pc .top-header .user-header .user-action .user i {
  padding: 6px 8px;
}
.header-pc .top-header .user-header .user-action .user:hover {
  box-shadow: rgb(255, 254, 254) 0px 5px 15px;
  background-color: aqua;
  transition: 0.3s;
}
.header-pc .top-header .user-header .cart-action .cart {
  position: relative;
}
.header-pc .top-header .user-header .cart-action .cart a {
  color: #fff;
}
.header-pc .top-header .user-header .cart-action .cart a i {
  background-color: #f18833;
  padding: 6px;
  border-radius: 3px;
  transition: 0.3s;
}
.header-pc .top-header .user-header .cart-action .cart a i:hover {
  box-shadow: rgb(255, 254, 254) 0px 5px 15px;
  background-color: aqua;
  transition: 0.3s;
}
.header-pc .top-header .user-header .cart-action .cart span {
  position: absolute;
  background-color: #8883f1;
  border-radius: 50%;
  top: -12px;
  right: -12px;
  font-size: 12px;
}
.header-pc .search-header {
  flex: 1;
  margin: 0 20px;
}
.header-pc .search-header button {
  background-color: #f18833;
  color: #fff;
}

.menu-mobile {
  background-color: #fff;
  width: 0;
  height: 100vh;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  text-wrap: nowrap;
  z-index: 99;
}
@media screen and (min-width: 993px) {
  .menu-mobile {
    display: none;
  }
}
.menu-mobile .logo {
  position: relative;
  text-align: center;
  padding: 20px 10px;
}
.menu-mobile .logo .closeNav {
  position: absolute;
  top: 10px;
  right: 10px;
}
.menu-mobile .logo .closeNav {
  cursor: pointer;
}
.menu-mobile .menu {
  padding: 20px 0;
}
.menu-mobile .menu .cha .item-cha {
  border-bottom: 1px solid #ec3323;
}
.menu-mobile .menu .cha .item-cha a {
  color: #ec3323;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  padding: 10px 20px;
  position: relative;
}
.menu-mobile .menu .cha .item-cha a:hover {
  background-color: #f18933;
  color: #fff;
}
.menu-mobile .menu .cha .item-cha a span {
  position: absolute;
  right: 10px;
}
.menu-mobile .menu .cha .item-cha .con .item-con {
  border-top: 1px solid #fff;
}
.menu-mobile .menu .cha .item-cha .con .item-con a {
  padding: 10px 45px;
  text-transform: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.menu-mobile .menu .cha .item-cha .con .item-con a:hover {
  background-color: #f18933;
  color: #fff;
}

.banner-content {
  position: relative;
}
.banner-content .content-slide-home .item-banner img {
  width: 100%;
  aspect-ratio: 2.5;
  object-fit: cover;
}

.overlay {
  position: fixed;
  width: 0;
  top: 0;
  right: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  transition: all 0.4s;
}
@media screen and (min-width: 993px) {
  .overlay {
    display: none;
  }
}

.btn-wrap span {
  position: absolute;
  background-color: rgba(241, 137, 51, 0.6078431373);
  border-radius: 50%;
  padding: 12px 16px;
  color: #fff;
  z-index: 5;
  top: 45%;
}
.btn-wrap span:first-child {
  left: 0;
}
.btn-wrap span:last-child {
  right: 0;
}/*# sourceMappingURL=main.css.map */